In [1]:
import pandas as pd
import numpy as np
#Load the dataset into a pandas dataframe
df = pd.read_csv('movies_metadata.csv')
df.columns

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [2]:
df.shape

(45466, 24)

In [3]:
for item in np.array_split(df, 3):
  item=item
  break

In [4]:
df=item

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15156 entries, 0 to 15155
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  15156 non-null  object
 1   belongs_to_collection  1984 non-null   object
 2   budget                 15156 non-null  object
 3   genres                 15156 non-null  object
 4   homepage               1807 non-null   object
 5   id                     15156 non-null  object
 6   imdb_id                15153 non-null  object
 7   original_language      15156 non-null  object
 8   original_title         15156 non-null  object
 9   overview               15094 non-null  object
 10  popularity             15156 non-null  object
 11  poster_path            15111 non-null  object
 12  production_companies   15156 non-null  object
 13  production_countries   15156 non-null  object
 14  release_date           15149 non-null  object
 15  revenue                15156 non-null  float64
 16  runtime                15144 non-null  float64
 17  spoken_languages       15156 non-null  object
 18  status                 15146 non-null  object
 19  tagline                9612 non-null   object
 20  title                  15156 non-null  object
 21  video                  15156 non-null  object
 22  vote_average           15156 non-null  float64
 23  vote_count             15156 non-null  float64
dtypes: float64(4), object(20)
memory usage: 2.8+ MB

In [6]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [7]:
tfidf = TfidfVectorizer(stop_words='english')

In [8]:
df['overview']=df['overview'].fillna('')

In [9]:
tfidf_matrix=tfidf.fit_transform(df['overview'])

In [10]:
tfidf_matrix.shape

(15156, 40469)

In [11]:
from sklearn.metrics.pairwise import cosine_similarity
cosine_sim = cosine_similarity(tfidf_matrix)

In [12]:
indices = pd.Series(df.index, index=df['title']).drop_duplicates()

In [13]:
(cosine_sim[359])

array([0., 0., 0., ..., 0., 0., 0.])

In [15]:
# Function that takes in movie title as input and gives recommendations
def content_recommender(title, cosine_sim=cosine_sim, df=df, indices=indices):
  # Obtain the index of the movie that matches the title
  idx = indices[title]
  # Get the pairwsie similarity scores of all movies with that movie
  # And convert it into a list of tuples as described above
  sim_scores = list(enumerate(cosine_sim[idx]))
  # Sort the movies based on the cosine similarity scores
  sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
  # Get the scores of the 10 most similar movies. Ignore the first movie.
  sim_scores = sim_scores[1:11]
  # Get the movie indices
  movie_indices = [i[0] for i in sim_scores]
  # Return the top 10 most similar movies
  return df['title'].iloc[movie_indices]

In [17]:
print(content_recommender('Jumanji'))

6166                       Brainscan
8801                         Quintet
9503                       Word Wars
8079                         Masques
13601    The Mindscape of Alan Moore
6055                Poolhall Junkies
2486                        eXistenZ
10892                     Stay Alive
13711                     Rhinoceros
9107                         Nirvana
Name: title, dtype: object